*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 65%;
}

body {
    font-family: 'Red Hat Display', sans-serif;
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #e0e8ff;
  
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .card {
        width: 88%;
        max-width: 475px;
        margin-top: 6rem;
        background-color: #ffffff;
        border-radius: 2rem;

        .image {
            width: 100%;
            border-radius: 2rem 2rem 0 0 ;
        }

        .card-main {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 3rem;

            .title{
                color: #1f2f56;
                font-size: 2.2rem;
                font-weight: 900;
            }

            .description {
                font-size: 1.5rem;
                font-weight: 500;
                color: #7280a7;
                padding: 1.6rem 1rem;
                line-height: 2.4rem;
                text-align: center;
            }

            .plan-card {
                background-color: #f5f7ff;
                width: 100%;
                border-radius: 1.5rem;
                margin: 0.75rem 0;
                padding: 1.6rem 1.1rem;

                .list{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    gap: 2rem;
                }
                .payment {
                color: #1f2f56;
                font-size: 1.4rem;
                font-weight: 900;
                margin-bottom: 0.5rem;
                }

                .price {
                color: #7280a7;
                font-size: 1.4rem;
                font-weight: 700;
                opacity: 0.5;
                }

                a{
                color: #3829e0;
                font-size: 1.3rem;
                font-weight: 700;

                &:hover {
                    text-decoration: none;
                    opacity: 0.75;
                }
                }
  
            }
            .card-button {
            width: 100%;
            text-align: center;
            background-color: #3829e0;
            padding: 1.5rem;
            margin: 1.5rem;
            border-radius: 1rem;
            cursor: pointer;
            box-shadow: 0 10px 20px rgba(56, 41, 224, 0.15), 0 15px 30px rgba(56, 41, 224, 0.15);

            &:hover {
                opacity: 0.6;
            }
            a{
            color: white;
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: 700;
            }
            }
            .card-cancel {
                padding: 1rem;
                a  {
                color: #7280a7;
                text-decoration: none;
                font-size: 1.5rem;
                font-weight: 900;
            &:hover {
                color: #1f2f56;
            }    
            }

            }
        }
    }
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (max-width: 764px) {
    body {
        background-image: url("../images/pattern-background-mobile.svg");
    }
    
}