* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 65%;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #e0e8ff;
}

.container {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .card {
  width: 88%;
  max-width: 475px;
  margin-top: 6rem;
  background-color: #ffffff;
  border-radius: 2rem;
}

.container .card .image {
  width: 100%;
  border-radius: 2rem 2rem 0 0;
}

.container .card .card-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem;
}

.container .card .card-main .title {
  color: #1f2f56;
  font-size: 2.2rem;
  font-weight: 900;
}

.container .card .card-main .description {
  font-size: 1.5rem;
  font-weight: 500;
  color: #7280a7;
  padding: 1.6rem 1rem;
  line-height: 2.4rem;
  text-align: center;
}

.container .card .card-main .plan-card {
  background-color: #f5f7ff;
  width: 100%;
  border-radius: 1.5rem;
  margin: 0.75rem 0;
  padding: 1.6rem 1.1rem;
}

.container .card .card-main .plan-card .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

.container .card .card-main .plan-card .payment {
  color: #1f2f56;
  font-size: 1.4rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

.container .card .card-main .plan-card .price {
  color: #7280a7;
  font-size: 1.4rem;
  font-weight: 700;
  opacity: 0.5;
}

.container .card .card-main .plan-card a {
  color: #3829e0;
  font-size: 1.3rem;
  font-weight: 700;
}

.container .card .card-main .plan-card a:hover {
  text-decoration: none;
  opacity: 0.75;
}

.container .card .card-main .card-button {
  width: 100%;
  text-align: center;
  background-color: #3829e0;
  padding: 1.5rem;
  margin: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  -webkit-box-shadow: 0 10px 20px rgba(56, 41, 224, 0.15), 0 15px 30px rgba(56, 41, 224, 0.15);
          box-shadow: 0 10px 20px rgba(56, 41, 224, 0.15), 0 15px 30px rgba(56, 41, 224, 0.15);
}

.container .card .card-main .card-button:hover {
  opacity: 0.6;
}

.container .card .card-main .card-button a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.container .card .card-main .card-cancel {
  padding: 1rem;
}

.container .card .card-main .card-cancel a {
  color: #7280a7;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 900;
}

.container .card .card-main .card-cancel a:hover {
  color: #1f2f56;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (max-width: 764px) {
  body {
    background-image: url("../images/pattern-background-mobile.svg");
  }
}
/*# sourceMappingURL=styles.css.map */